
# Map all requests to the main handler
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~samba/phplib/example/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . ./index.php [L]
</IfModule>




